<!DOCTYPE html>
<html>

<head>
	<title>HTMX Snippet</title>
	<script src="https://cdn.jsdelivr.net/npm/htmx.org@1.7.0/dist/htmx.js"></script>
	<link href="static/movie-card.css" rel="stylesheet">
	<link href="static/base.css" rel="stylesheet">
</head>

<body>

	<h1>Movie searcher</h1>

	<input type="text" name="q" hx-get="/search" hx-trigger="keyup changed delay:500ms" placeholder="Search a movie"
		hx-target="#search-results" hx-sync="this:replace">
	<div id="search-results"></div>
</body>

</html>
